<h1>Keep a journal of your current and past tasks</h1>
<p><%= link_to 'Show all the Tasks', tasks_path %></p>
<p>
	<ul>
		<li>We all have a lot of work to do and have trouble prioritizing.  Especially when we have a lot of open tasks stacking up.</li>
		<li>We want to help small teams like our own journal their tasks like an issue tracking or ticketing system.  With this journal and gantt view we could SEE what what we need to do, and when a teammate is overloaded</li>
	</ul>
	<p>Please give it a try by <%= link_to "registering", signup_path %></p>
	<p>We would love to hear your feedback <a href="http://twitter.com/#taskticketer">@TaskTicketer</a>
</p>
